
  h4 {
    color: white; 
    font-weight: bold; 
    font-size: 1.2rem; 
  }
  
  .logout-button {
    background-color: #444; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: opacity 0.5s ease; 
  }
  
  .logout-button:hover {
    opacity: 0.5; 
  }
  
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username-display {
    color: white; 
    font-weight: bold; 
    font-size: 25px; 
    margin: 0; 
  }
  
.usernameContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}



  .logout-button {
    all: unset;
    background-color: rgb(58, 62, 72);
    padding: 5px 10px;
    border-radius: 3px;
    color:#fff;
    border: solid 1px #ffffff22;
    transition: background-color 0.1s;
    width: 150px;
    text-align: center;
  }
  
  .logout-button:hover {
    background-color: rgb(74, 79, 92);
  }

  